tensorflow==1.15.2
apache_beam[gcp]==2.12.0
tensorflow-transform==0.4.0
matplotlib
sklearn
numpy
scipy
httplib2>=0.19.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyyaml>=5.4 # not directly required, pinned by Snyk to avoid a vulnerability
